# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
.vercel/
out/

# Env & local DB
.env
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db

# Logs
*.log

